[project]
	description = NES emulator
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/evertoncarara
[access "refs/for/refs/*"]
	read = group user/evertoncarara
	push = group user/evertoncarara
	label-Code-Review = -2..+2 group user/evertoncarara
	label-Verified = -1..+1 group user/evertoncarara
	rebase = group user/evertoncarara
	removeReviewer = group user/evertoncarara
	submit = group user/evertoncarara
[access "refs/heads/*"]
	read = group user/evertoncarara
	create = group user/evertoncarara
	push = +force group user/evertoncarara
	pushMerge = group user/evertoncarara
[access "refs/tags/*"]
	push = +force group user/evertoncarara
	pushTag = group user/evertoncarara
	pushSignedTag = group user/evertoncarara
